{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}
    <nav class="m-footer-social">
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter" aria-hidden="true"></span>
        </a>
      {{/if}}
      <a href="https://discord.com/invite/e5TXf3zWyh" target="_blank" rel="noopener" aria-label="Discord">
        <span class="icon-discord" aria-hidden="true"></span>
      </a>
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}
      <a href="https://www.twitch.tv/quickdropmedia/about" target="_blank" rel="noopener" aria-label="Twitch">
        <span class="icon-twitch" aria-hidden="true"></span>
      </a>
      {{!-- TODO: Add shopping cart icon
      <a href="https://shop.spreadshirt.com/quickdropmedia" target="_blank" rel="noopener" aria-label="Store">
        <span class="icon-cart" aria-hidden="true"></span>
      </a>
      --}}
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
    </nav>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Built"}} <a href="https://github.com/Quick-Drop-Media" target="_blank" rel="noopener">transparently</a></span>
    </p>
    <p class="m-footer-copyright jslicense">
      <a href="/privacy-policy" rel="privacy-policy">{{t "Privacy Policy"}}</a>
    </p>
  </div>
</footer>
