{{!--
This template is used for the contact page.
You must first create a page with slug contact in the dashboard to enable it.
--}}

{{!-- This block preloads specific assets for the tags page --}}s
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/contact.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/contact.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the tags page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/contact.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#page}}
  {{> header background=feature_image}}
{{/page}}

<main class="main-wrap">
  {{!-- Everything inside the #page tags pulls data from the page --}}
  {{#page}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-aos="fade-down">
      <h1 class="m-hero-title bigger">{{title}}</h1>
      {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
      {{/if}}
    </div>
    </section>
    <article>
      <div class="l-content-contact">
        <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
          <div class="l-post-content">
            <div class="pos-relative js-post-content">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </article>
  {{/page}}
    <div id="qd-form-wrapper">
      <form id="qd-contact-form">

        <div class="qd-top-input-container">
          <div class="qd-top-input qd-reason-container">
            <label for="reason-select">Reason for Contact</label>
            <select class="m-input" name="reason" id="reason-select">
              <option value="partnership">General Questions</option>
              <option value="advertising">Advertising</option>
              <option value="feedback">Feedback</option>
            </select>
          </div>
          <div class="qd-top-input">
            <label for="email-input">Email Address</label>
            <input id="email-input" type="text" class="m-input" name="sender" placeholder="{{t "reply@example.com"}}">
          </div>
        </div>

        <div class="qd-message-container">
          <label for="message-text">Message</label>
          <textarea id="message-text" class="m-input" name="message" rows="5" cols="70">It was a dark and stormy night...</textarea>
        </div>
        <input id="submit-contact-button" class="m-button primary block" type="submit" value="{{t "Submit"}}">
      </form>
      <div id="qd-thanks-message">Thanks for reaching out to us! We'll get back to you as soon as possible.</div>
    </div>
</main>

{{#contentFor "scripts"}}
  <script defer src="{{asset "js/contact.js"}}"></script>
{{/contentFor}}
