<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/newsletter.css"}}" media="screen" />

    <style>
    @font-face {
      font-family: "Poppins";
      src: url("{{asset "fonts/poppins/Poppins-Light.ttf"}}");
    }
    body {
      font-family: "Poppins", sans-serif;
    }

    .left {
      width: 45%;
      float: left;
    }
    .right {
      width: 55%;
      float: right;
    }

    h4 {
      font-size: 120%;
    }

    .m-back {
      align-items: center;
      position: absolute;
      top: 25px;
      color: var(--titles-color);
      letter-spacing: .2px;
      cursor: pointer;
      text-decoration: none;
    }

    #signup-content {
      color: #ffffff;
      padding: 35% 0% 0 10%; /* TODO: Get this to work at variable screen widths */
    }

    .social-link { cursor: pointer; }
    .social-link a { color:inherit; } /* so that the icon links dont turn blue */

    .header-img {
      height: auto;
    }

    @media (min-width: 701px) {
      body {
        background-image: url("{{asset "images/newsletter_background.png"}}");
        background-size: cover;
      }

      .header-img {
        width: 95%;
      }
    }

      @media (max-width: 700px) {
        body {
          background-color: #303e49;
        }

        #signup-content {
          padding: 35% 5% 0 5%;
        }

        .left, .right {
          width: 100%;
        }

        .header-img {
          width: 100%;
        }
      }

      #ghost-portal-root {
        display: none;
      }

      .m-subscribe__error {
          color: #ff0000;
          text-align: left;
      }

      .m-subscribe__success {
        color: #2abb69;
      }

      .m-heading__description {
        margin: 0;
        text-align: left;
        max-width: 100%;
      }

      @media only screen and (min-width: 48rem) {
        .m-heading__description.in-newsletter-form {
          max-width: 100%;
        }
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/ficons@1.1.52/dist/ficons/font.css" rel="stylesheet">

    {{!-- This #block helper will pull data from the hero partial
    to inject styles of the hero image to make it responsive --}}
    {{{block "herobackground"}}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This variable is used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      const ghostHost = "{{@site.url}}"
      // @license-end
    </script>
  </head>
  <body class="{{body_class}}">
    <div class="left">
    <div id="signup-content">
      <a href="{{@site.url}}" class="m-back" style="color:white">
        <span class="fa fa-arrow-left"></span>
        <span>{{t "Home Page"}}</span>
      </a>

      <img class="header-img" src="{{asset "images/full_logo_white.png"}}" alt="Quick Drop Media">
      <h4>Dropping you a daily care package of gaming news</h4>
      <p>Get the free daily gaming email to stay ahead of the competition.</p>
      <div id="mc_embed_signup">
        <form data-members-form="subscribe" id="newsletter-form" class="m-subscribe-section__container">
        <div class="m-subscribe__form">
          <input data-members-email id="newsletter-input" class="email m-input in-subscribe-section" type="email"
              placeholder="{{t "Your email address"}}" required />
          <div class="clear">
            <button id="newsletter-button" class="button m-button primary block" type="submit">{{t "Try It"}}</button>
          </div>
        </div>
        <div class="m-subscribe__success">
          <header class="m-heading no-margin">
            <p class="m-heading__description in-newsletter-form">
              <i class="fa fa-check fa-2x fa-fw"></i>
              {{t "Now check your inbox and click the link to confirm your subscription."}}
            </p>
          </header>
        </div>
        <p class="m-subscribe__invalid m-small-text">
          {{t "Please enter a valid email address"}}
        </p>
        <p class="m-subscribe__error m-small-text">
          {{t "Oops! There was an error sending the email, please try later."}}
        </p>
      </form>
      </div>

      <div>
        <span class="social-link"><a href="https://twitter.com/QuickDropMedia" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-2x fa-fw"></i></a></span>
        <span class="social-link"><a href="https://discord.gg/e5TXf3zWyh" target="_blank" rel="noopener noreferrer"><i class="fa fa-discord fa-2x fa-fw"></i></a></span>
        <span class="social-link"><a href="https://www.facebook.com/Quick-Drop-Media-112767333958192/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook fa-2x fa-fw"></i></a></span>
        <span class="social-link"><a href="https://www.twitch.tv/quickdropmedia/about" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitch fa-2x fa-fw"></i></a></span>
        <span class="social-link"><a href="https://www.youtube.com/channel/UCO-lSAHIvplMHSfrxLrJUmw" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube fa-2x fa-fw"></i></a></span>
        <span class="social-link"><a href="https://shop.spreadshirt.com/quickdropmedia" target="_blank" rel="noopener noreferrer"><i class="fa fa-shopping-cart fa-2x fa-fw"></i></a></span>
      </div>
    </div>
    </div>
    <div class="right"></div>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
